/*
    Include font
*/

@import "clearsans";

@font-face {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../fonts/icons/MaterialIcons-Regular.woff2') format('woff2'), url('../../fonts/icons/MaterialIcons-Regular.woff') format('woff');
}

.icon {
    font-family: 'Material Icons';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
