/*
    Style for responsive design
*/

@media all and (max-width: 1499px) {
	#header-main {
		h1 {
			margin: 60px 0;
		}
		.macbook-header {
			.macbook {
				left: -40%;
				top: -30px;
				height: 600px;
			}
		}
	}
}

@media all and (max-width: 1199px) {
	#header-main {
		padding-bottom: 45px;
		h1 {
			margin: 60px 0;
		}
		.macbook-header {
			.macbook {
				left: -50%;
				top: 0px;
				height: 500px;
			}
		}
		form {
			span {
				padding: 15px 0;
			}
		}
	}
	section {
		&#how {
			.nav-container {
				> div {
					&.owl-prev {
						left: calc(50% - 992px / 2);
					}
					&.owl-next {
						right: calc(50% - 992px / 2);
					}
				}
			}
		}
		&#review {
			.owl-nav {
				> div {
					top: calc(50% - 60px / 2);
					img {
						width: 30px;
					}
					&.owl-prev {
						left: calc(50% - 992px / 2);
					}
					&.owl-next {
						right: calc(50% - 992px / 2);
					}
				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	#header-main {
		.logo {
			img {
				height: 30px;
			}
		}
		ul {
			margin: 0 0 0 30px;
			li {
				margin-right: 30px;
				a {
				}
			}
		}
		h1 {
			font-size: 3em;
		}
		.macbook-header {
			display: none;
		}
	}
	section {
		&#how {
			.dots-container > div {
				width: calc(100% / 3);
			}
			.nav-container {
				> div {
					top: calc(50% + 50px);
					&.owl-prev {
						left: calc(50% - 768px / 2);
					}
					&.owl-next {
						right: calc(50% - 768px / 2);
					}
				}
			}
		}

		&#review {
			.owl-nav {
				> div {
					&.owl-prev {
						left: calc(50% - 768px / 2);
					}
					&.owl-next {
						right: calc(50% - 768px / 2);
					}
				}
			}
		}
	}
}

@media all and (max-width: 767px) {
    #header-main {
    	padding: 15px 0 0;
		.logo {
			margin-top: 10px;
			img {
				height: 30px;
			}
		}
		ul {
			margin: 0;
			display: block;
			width: 100%;
		}
		.user_panel {
			.btn {
				padding: 0 15px;
			}
		}
		h1 {
			font-size: 2.5em;
			margin-bottom: 30px;
		}
	}
	section {
		&#how {
			height: auto;
			padding-bottom: 60px;
			background-image: none;
			.nav-container {
				display: none;
			}
			.slider {
				margin: 140px 0 0;
				width: 100%;
				height: auto;
			}
		}
		&#price {
			.overflow {
				overflow-x: auto;
				overflow-y: hidden;
				.list {
					min-width: 768px;
					margin: 0 2px;
				}
			}
		}
		&#calc {
			.title {
				margin: 60px 0 30px;
			}
			form {
				margin: 0 0 60px;
			}
		}
		&#review {
			.owl-nav {
				> div {
					&.owl-prev {
						left: calc(50% - 575px / 2);
					}
					&.owl-next {
						right: calc(50% - 575px / 2);
					}
				}
			}
		}
	}
}

@media all and (max-width: 575px) {
	#header-main {
		text-align: center;
		ul {
			li {
				float: none;
				display: inline-block;
			}
		}
		.user_panel {
			display: none;
			margin-top: 15px;
			text-align: center;
		}
	}
	section {
		.title {
			font-size: 2em;
		}
		&#how {
			padding-bottom: 30px;
		}
		&#pre-footer {
			form {
				margin-bottom: 30px;
			}
		}
	}
	#footer {
		padding: 15px 0;
		height: auto;
		text-align: center;
		line-height: normal;
		.footer-menu {
			margin-top: 15px;
		}
	}

}